# Build
build/
out/
cmake-build-*/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Binaries
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp

# Logs
*.log

# OS
Thumbs.db
desktop.ini

# Claude Code
install.cmd
/CLAUDE.md