#include <windows.h>

101 ICON "groupie.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "Groupie - Window Tab Manager"
            VALUE "FileVersion", "1.2.0.0"
            VALUE "InternalName", "groupie"
            VALUE "OriginalFilename", "groupie.exe"
            VALUE "ProductName", "Groupie"
            VALUE "ProductVersion", "1.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
